<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="work.GroupTypeMapper" >
  <resultMap id="BaseResultMap" type="com.sipai.entity.work.GroupType" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="sdt" property="sdt" jdbcType="TIMESTAMP" />
    <result column="edt" property="edt" jdbcType="TIMESTAMP" />
    <result column="insuser" property="insuser" jdbcType="VARCHAR" />
    <result column="insdt" property="insdt" jdbcType="TIMESTAMP" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, convert(varchar(12),sdt,8) as sdt, convert(varchar(12),edt,8) as edt, insuser, insdt, name, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_work_grouptype
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_work_grouptype
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sipai.entity.work.GroupType" >
    insert into tb_work_grouptype (id, sdt, edt, 
      insuser, insdt, name, 
      remark)
    values (#{id,jdbcType=VARCHAR}, #{sdt,jdbcType=TIMESTAMP}, #{edt,jdbcType=TIMESTAMP}, 
      #{insuser,jdbcType=VARCHAR}, #{insdt,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sipai.entity.work.GroupType" >
    insert into tb_work_grouptype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sdt != null" >
        sdt,
      </if>
      <if test="edt != null" >
        edt,
      </if>
      <if test="insuser != null" >
        insuser,
      </if>
      <if test="insdt != null" >
        insdt,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sdt != null" >
        #{sdt,jdbcType=TIMESTAMP},
      </if>
      <if test="edt != null" >
        #{edt,jdbcType=TIMESTAMP},
      </if>
      <if test="insuser != null" >
        #{insuser,jdbcType=VARCHAR},
      </if>
      <if test="insdt != null" >
        #{insdt,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sipai.entity.work.GroupType" >
    update tb_work_grouptype
    <set >
      <if test="sdt != null" >
        sdt = #{sdt,jdbcType=TIMESTAMP},
      </if>
      <if test="edt != null" >
        edt = #{edt,jdbcType=TIMESTAMP},
      </if>
      <if test="insuser != null" >
        insuser = #{insuser,jdbcType=VARCHAR},
      </if>
      <if test="insdt != null" >
        insdt = #{insdt,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sipai.entity.work.GroupType" >
    update tb_work_grouptype
    set sdt = #{sdt,jdbcType=TIMESTAMP},
      edt = #{edt,jdbcType=TIMESTAMP},
      insuser = #{insuser,jdbcType=VARCHAR},
      insdt = #{insdt,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectListByWhere" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_work_grouptype
		${where}
	</select>
	<delete id="deleteByWhere" parameterType="java.lang.String">
		delete from tb_work_grouptype
		${where}
	</delete>
</mapper>