<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="document.DoctypeMapper" >
  <resultMap id="BaseResultMap" type="com.sipai.entity.document.Doctype" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="insuser" property="insuser" jdbcType="VARCHAR" />
    <result column="insdt" property="insdt" jdbcType="TIMESTAMP" />
    <result column="updateuser" property="updateuser" jdbcType="VARCHAR" />
    <result column="updatedt" property="updatedt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, pid, level, insuser, insdt, updateuser, updatedt
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_doc_doctype
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_doc_doctype
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sipai.entity.document.Doctype" >
    insert into tb_doc_doctype (id, name, pid, 
      level, insuser, insdt, 
      updateuser, updatedt)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, 
      #{level,jdbcType=INTEGER}, #{insuser,jdbcType=VARCHAR}, #{insdt,jdbcType=TIMESTAMP}, 
      #{updateuser,jdbcType=VARCHAR}, #{updatedt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sipai.entity.document.Doctype" >
    insert into tb_doc_doctype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="insuser != null" >
        insuser,
      </if>
      <if test="insdt != null" >
        insdt,
      </if>
      <if test="updateuser != null" >
        updateuser,
      </if>
      <if test="updatedt != null" >
        updatedt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="insuser != null" >
        #{insuser,jdbcType=VARCHAR},
      </if>
      <if test="insdt != null" >
        #{insdt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatedt != null" >
        #{updatedt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sipai.entity.document.Doctype" >
    update tb_doc_doctype
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="insuser != null" >
        insuser = #{insuser,jdbcType=VARCHAR},
      </if>
      <if test="insdt != null" >
        insdt = #{insdt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        updateuser = #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatedt != null" >
        updatedt = #{updatedt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sipai.entity.document.Doctype" >
    update tb_doc_doctype
    set name = #{name,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      insuser = #{insuser,jdbcType=VARCHAR},
      insdt = #{insdt,jdbcType=TIMESTAMP},
      updateuser = #{updateuser,jdbcType=VARCHAR},
      updatedt = #{updatedt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>